body {
  background-color: black;
  height: 100vh;  
  display: grid;
  place-items: center;
  margin: 0;
  overflow: hidden;
}

#logo {
  position: relative;
  width: 200px;
  aspect-ratio: 1000 / 556;
  user-select: none;
  z-index: 2;
}

#logo > img {
  width: 100%;
  position: absolute;
  
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
  opacity: 0.825;
}

#image-track > .image {
  width: 60vmin;
  height: 85vh;
  object-fit: cover;
  object-position: 100% center;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
:root {  
  --green: rgb(42, 252, 152);
  --blue: rgb(230, 245, 21);
}

@keyframes float {
  from, to {
    transform: translateY(-0%);
  }
  
  50% {    
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 100% center;
  }
  
  to {
    background-position: 0% center;
  }
}

body {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  margin: 0rem;
  overflow: hidden;
  display: grid;
  place-items: center;
   
}

.line {
  display: flex;
  justify-content: space-between;
  
}
.word {
  color: rgb(253, 251, 237);
  font-size: clamp(1rem, 3vw, 3rem);
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
  user-select: none;
  z-index: 3;

}

a {
  text-decoration: none;
  z-index: 3;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.4;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(
    to right,
    var(--blue),
    var(--green),
    var(--blue)
  );
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

.fancy:hover > .outer:nth-child(1) {
  transform: translate(-50%, 60%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
  transform: translate(-50%, 60%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(9) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(10) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(12) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(13) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(14) {
  transform: translate(0%, -40%) rotate(-5deg);
}
.fancy:hover > .outer:nth-child(15) {
  transform: translate(-50%, 60%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(16) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(17) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(18) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(19) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(20) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(21) {
  transform: translate(0%, -40%) rotate(-5deg);
}

